<body>
{% extends "base.html" %}
{% block content %}
<div style="text-align: center;">
<h1>Seleccione Categoria</h1>
<br>
<br>
<div class="btn-group-vertical">
   {% for categoria in categorias %}
		
		
			{% if session[categoria.id|string()] == True %}
			<a href="#" class="btn btn-primary btn-lg disabled" role="button" 
			style="margin-left:30px" aria-disabled="true">{{categoria.descripcion}}</a>
			{% else %}
			<a class="btn btn-primary btn-lg" href="/trivia/{{categoria.id}}/pregunta" role="button" 
			style="margin-left:30px">{{categoria.descripcion}}</a>
			{%	endif %} </tr>
	
	<br>
   {% endfor %}
</div>
</div>

{% endblock %}
</body>
