<body>
{% extends "base.html" %}
{% block content %}
<div style="text-align: center;">
<h1>Seleccione Categoria</h1>
<br>
   {% for categoria in categorias %}
		<tr><td>
			{% if session[categoria.id|string()] == True %}
			<a href="#" class="btn btn-primary disabled" role="button" 
			style="margin-left:30px" aria-disabled="true">{{categoria.descripcion}}</a>
			{% else %}
			<a class="btn btn-primary" href="/trivia/{{categoria.id}}/pregunta" role="button" 
			style="margin-left:30px">{{categoria.descripcion}}</a>
			{%	endif %} </tr>
			
	
		</td></a>
		
		<br>
		<br>
   {% endfor %}

</div>

{% endblock %}
</body>
