<body>
{% extends "base.html" %}
{% block content %}
<br>
<div style="text-align: center;">
<h2><span
style="font-weight: bold; background-color: rgb(147, 206, 222);">Bravo Ganaste!</span></h2>
<h2><span
    style="font-weight: bold; background-color: rgb(147, 206, 222);">La partida duró {{duracion}}</span></h2>
<br>
<div style="text-align:center;">
</div>
<br>
<a class="btn btn-primary" href="/trivia" 
    role="button" style="margin: 5px 2px;">Volver a Jugar</a>
</div>
<br>
{% endblock %}
</body>
