<body>
{% extends "base.html" %}
{% block content %}
<div style="text-align: center;">
<h1>Categoría {{categoria.descripcion}}</h1>
<br>

<h2><span style="font-weight: bold; background-color: rgb(147, 206, 222);">{{pregunta.text}}</span></h2>
    {% for res in respuestas %}
    <tr><td><a class="btn btn-primary" href="/trivia/{{pregunta.id}}/resultado/{{res.id}}" 
    role="button" style="margin: 5px 2px;">{{res.text}}</a>
    </td></a></tr>
    <br>
    {% endfor %}
<br>
<div style="text-align:center;">
</div>
<br>
<a class="btn btn-primary" href="/trivia/categorias" 
    role="button" style="margin: 5px 2px;">Volver a Categorías</a>
</div>
<br>
{% endblock %}
</body>
